Domaci/Domaci2/docs/*
!Domaci/Domaci2/docs/docs.tex
!Domaci/Domaci2/docs/docs.pdf
Domaci/Domaci2/Domaci2/bin/*
Domaci/Domaci2/Domaci2/obj
Domaci/Domaci2/.vs

Domaci/Domaci3/doc/*
!Domaci/Domaci3/doc/docs.tex
!Domaci/Domaci3/doc/docs.pdf

Vezbe
