<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublisher" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISubscriber" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51990/Service.svc/P" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPublisher" contract="ServiceReference1.IPublisher"
                name="BasicHttpBinding_IPublisher" />
            <endpoint address="http://localhost:51990/Service.svc/S" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ISubscriber" contract="ServiceReference1.ISubscriber"
                name="WSDualHttpBinding_ISubscriber">
                <identity>
                    <userPrincipalName value="DESKTOP-AU10C5S\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>